*.h text eol=crlf working-tree-encoding=Windows-1251
*.c text eol=crlf working-tree-encoding=Windows-1251
*.ini text eol=crlf working-tree-encoding=Windows-1251

*.txt text eol=crlf working-tree-encoding=Windows-1251
RESOURCE/**/*.txt text eol=crlf working-tree-encoding=UTF-8
RESOURCE/**/*.ini text eol=crlf working-tree-encoding=UTF-8

PROGRAM/**/DIALOGS/SPANISH/**/*.h working-tree-encoding=Windows-1252

# Specific files that have encoding issues
RESOURCE/INI/TEXTS/RUSSIAN/BOOKS/cookbook.txt working-tree-encoding=UTF-8
RESOURCE/INI/TEXTS/RUSSIAN/Storyline/WoodesRogers/ItemsDescribe.txt working-tree-encoding=UTF-8
PROGRAM/Storyline/standard/DIALOGS/POLISH/danielle_dialog.h working-tree-encoding=UTF-8
"PROGRAM/Storyline/Ardent/DIALOGS/Javier Balboa_dialog.c" working-tree-encoding=UTF-8
